.container{
  background-color: #0f0f0f;
  width: 100%;
  height: calc(100vh - 76px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logoContent{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

.hero{
  max-width: 480px;
  object-fit: contain;
  width: auto;
  height: auto;
}

.title{
  color: #fff;
  text-align: center;
  margin: 28px;
  line-height: 150%;
}

.infoContent{
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.box{
  background-color: #fafafa;
  padding: 14px 44px;
  border-radius: 4px;
}

.box:hover{
  background-color: #4aa0f0;
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

@media (max-width: 580px) {
  .hero{
    max-width: 80%; 
  }

  .title{
    font-size: 20px;
  } 

  .infoContent{
    flex-direction: column;
  }
  .box{
    width: 80%;
    margin-bottom: 14px;
    text-align: center;
  }
  
}